@import url("https://fonts.googleapis.com/css2?family=Hind+Siliguri&display=swap");
.main {
  width: 100%;
  padding: 30px 0px;
  background-color: white;
  justify-content: center;
  align-items: center;
  font-family: "Hind Siliguri", sans-serif;
  display: flex;
  flex-direction: column;
}
.heading {
  font-size: 25px;
  font-weight: bolder;
}
.card-container {
  font-family: "Hind Siliguri", sans-serif;
  display: flex;
  padding: 10px 0;
  justify-content: center;
  align-items: center;
  width: 80%;
  @media (max-width: 600px) {
    flex-direction: column;
    width: 100%;
  }
}
.card {
  font-family: "Hind Siliguri", sans-serif;
  border: 1.8px solid aqua !important ;
  border-radius: 20px !important;
  margin: 20px;
  padding: 10px;
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  @media (max-width: 600px) {
    width: 80%;
  }
}
.card:hover {
  background-color: rgba(0,0,0,0.8);
  color: white;
  transition: 0.2s ease-in-out;
}
