.team_head{
    text-align: center;
    padding: 0.5em 0;
    margin: 0 0 0.5em 0;
    font-size: 45px;
    border-bottom:1px solid #ddd ;
}
.team{
    background-image: url(blob:https://web.whatsapp.com/5613f6da-7d8f-427e-ad22-f5f27a232599);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}
.teams{
    width: 100%;
    position: absolute;
    top: 4em;
    @media(max-width: 600px){
        top: 1em;
    }
}