.containers{
    display: grid;
    grid-template-columns:1fr 1fr 1fr 1fr ;
    grid-gap: 1em;
    grid-auto-rows: minmax(300px,auto);
    margin: 4.5em;
}
.containers div{
    border: 1px solid black;
    padding: 1em;
    background: #eee;
}
.containers > div:nth-child(odd){
    background: #ddd;
}
 .b-1{
     grid-column:1/3 ;
     grid-row: 1/3;
     border-radius: 20px;
 }
 .box{
     border-radius: 20px;
     
 }
 @media(max-width:988px){
.box{
    grid-column:1/12 ;

    
}
.b-1{
    grid-column: 1/12;
}
 }
 @media(max-width:420px){
    .container{
        grid-auto-rows: minmax(250px,auto);
        margin: 0.75em;
    }
   
    .b-1{
        grid-column: 1/12;
        grid-row: 1;
    }
    .box{
        grid-column:1/12 ;
        
    }
     }

