.get{
    background-color: rgba(135, 206, 235,0.3);
    padding: 3em 0 2em 0;
    width: 100%;
    margin-bottom: 2em;
    .in{
        width: 70%;
        margin: 0 auto;
        @media(max-width: 600px){
           width: 100%;
        }
        h1{
            text-align: center;
            font-size: 2.5em;
            @media(max-width: 600px){
                font-size: 2em;
            }
        }
        h4{
            margin: 1.5em auto;
            text-align: center;
            font-size: 15px;
            @media(max-width: 600px){
                font-size: .7em;
            }
        }
    }
}

.form_get{
    display: grid;
    grid-template-columns: auto auto;
    @media(max-width: 600px){
        grid-template-columns: auto;
    }
    input{
        padding: .6em 1em;
        margin: .8em 1em;
        width: 23em;
        @media(max-width: 600px){
            width: 15em;
            padding: .5em 1em;
        }
    }
}
.t_area{
    grid-row: 1/4;
    grid-column: 2/3;
    margin: .8em 1em;
    width: 25em;
    padding: 0.5em 1em;
    @media(max-width: 600px){
        grid-column: 1/2;
        grid-row: 4/5;
        width: 15em;
        height: 6em;
    }
}
.btn4{
    width: 95%;
    margin: 1.5em 2.5%!important;
    padding: .75em!important;
    background-color: black;
    color: white!important;
    background-color: black!important;
    font-size: 15px!important;
    font-weight: bold!important;
}