.cards{
    width: 90%;
    border: 1px solid #555;
    padding: .5em;
    @media(max-width:600px){
        width: 100%;
    }
    h4{
        text-align: center;
        font-size: 17px;
        font-weight: bold;
    }
    .imgs{
        margin: 0.5em 0;
        img{
            width: 100%;
        }
    }
    h6{
      font-weight: bold;
      font-size: 15px;
      color: skyblue;
    }
    p{
        text-align: center;
        color: grey;
        font-size: 14px;
    }
    .btns{
        display: flex;
        justify-content: center;
        button{
        background-color: skyblue;
        color: white;
        padding: .5em;
        border-radius: 8px;
        font-size: 12px;
        }
    }
}