.events {
  width: 100%;
  position: absolute;
  top: 4em;
  @media (max-width: 600px) {
    top: 1em;
  }
  .info {
    display: flex;
    width: 80%;
    margin: 0 auto;
    @media (max-width: 600px) {
      flex-direction: column;
    }
    .cont {
      width: 40%;
      margin: 1em 0;
      @media (max-width: 600px) {
        text-align: center;
        width: 100%;
      }
      h4 {
        padding: 1em 0 0 0;
        font-weight: bold;
        font-size: 40px;
      }
      h5 {
        text-transform: capitalize;
        margin: 1rem 0;
        font-size: 23px;
      }
      i {
        line-height: 1;
        font-weight: bold;
        color: skyblue;
      }
      p {
        font-size: 1rem;
        font-weight: 300;
        color: #656565;
        line-height: 1.6;
        margin-top: 0;
        margin-bottom: 1rem;
      }
      .btns1 {
        margin: 2em 0;
        color: white;
        background-color: skyblue;
        width: 18em;
        padding: 0.75em;
      }
    }
    .pic {
      width: 60%;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 1em 0;
      @media (max-width: 600px) {
        width: 100%;
      }
      img {
        width: 80%;
        max-height: 21em;
        border-radius: 20px;
        @media (max-width: 600px) {
          width: 100%;
        }
      }
    }
  }
}
.about_event {
  width: 80%;
  margin: 2em auto;
  @media (max-width: 600px) {
    text-align: center;
  }
  h5 {
    font-weight: bold;
    font-size: 25px;
  }
  i {
    line-height: 1;
    color: #656565;
  }
}
.gal1 {
  width: 80%;
  margin: 3em auto;
  h3 {
    text-align: left;
    font-weight: bold;
    font-size: 25px;
    @media (max-width: 600px) {
      text-align: center;
    }
  }
  .list_gal {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1.5em;
    margin: 1em 0;
    @media (max-width: 600px) {
      grid-template-columns: 1fr;
    }
    .img {
      border-radius: 20px;
      width: 100%;
    }
  }
}
